html{
	font-family: Arial;
}

body{
	color:white;
	padding: 0;
	margin: 0;
	width: 100%;
	/*background-image: url("../img/linear_bg.svg");*/
	background: linear-gradient(90deg, rgba(65,65,169,1), white);
	/*background:rgba(135,135,135,1);*/
	/*background: black;
	/*background-position: center;*/
	/*background-size: cover; */
	/*background-size: 100% 100%;*/
	background-repeat: no-repeat;
}

.container{
	height: 100%;
	width: 100%; 
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box; 	
	/*background: rgba(0,0,0,0.3);*/
}

header{
	/*position: absolute;*/
	padding: 0;
	margin: 0;
	margin-bottom: 3vh; 
	border-top: solid 1px rgba(150,0,0,0);
	border-bottom: solid 1px rgba(0,150,0,0);
	height: 15vh;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(101,160,103);
	background-repeat: no-repeat;
	background-image: url("../img/header.svg"); 
	background-position: center; 
	background-size: cover;
}


main{
	min-height: 60vh;
	padding: 0;
	margin: 0;
	margin-bottom: 3vh;
	border-top: solid 1px rgba(0,150,0,0);
	border-bottom: solid 1px rgba(0,150,0,0);
	box-sizing: border-box;
	background-color: rgb(237,239,231);
	background-repeat: no-repeat;
	background-image: url("../img/main.svg"); 
	background-position: top; 
	background-size: cover;
	background-clip: border-box;
}

footer{
	text-align: center;
	padding: 0;
	margin: 0;
	height: 15vh;
	border-top: solid 1px rgba(0,0,150,0);
	border-bottom: solid 1px rgba(0,150,0,0);
	box-sizing: border-box;
	background-color: rgb(101,160,103);
	background-repeat: no-repeat;
	background-image: url("../img/footer.svg");
	background-position: center; 
	background-size: cover;
	background-clip: border-box;
}


#menu{
	width: 90%;
	margin: 0;
	padding: 0;
	display: block;	
	position: relative;
	top: 4vh;
}

#menu::after{
	clear: both;
	display: table;
	content: "";
}

.btn_menu{
	margin: 0 1vmin;
	padding: 1.3vmin 1vmin;
	min-width: 26vmin;
	height: 6.4vmin;
	text-align: center;
	background: rgba(65,65,169,1); /*yellow #bfbb58ff;  red #bd4932ff;*/
	display: block;
	float: right;
	list-style: none;
	box-sizing: border-box;
}

.btn_menu a{
	font-size: 3.5vmin; 
}

.btn_menu:hover a{
	border-bottom: 2px solid white;
}


#menu_footer{
	width: 80%;
	margin: 0 auto;
	margin-top: 3vh;
	background: rgba(65,65,169,0.3);
	display: inline-block;
	list-style: none;
}

#menu_footer li{
	display: inline-block;
	margin: 0 15px; 
	vertical-align: middle;
}

.btn_footer:hover a{
	border-bottom: 2px solid white;
}

a{
	text-decoration: none;
	color: white;
}

h1{
	text-shadow: rgba(65,65,169,1) 1vmin 2vmin 20px;
	font-size: 6.5vmin;
	margin: 0;
	margin-top:1.7vmin;
	margin-left:7vmin;
}

.info_block{
	color: rgba(31,31,111,1);
	font-size: 1.2em;
	width: 85%;
	margin:15px auto;
	padding: 0;	
	/*background: rgba(117,173,136,0.65);*/
	border-top: solid 1px rgba(0,0,0,0);
	border-bottom: solid 1px rgba(0,0,0,0);
}

.info_block a{
	color: rgba(31,31,111,1);
}

.info_block ul{
	padding: 0;
	margin: 20px 30px;
}

.info_block ul li{
	margin-top:10px;	
}


.info_block:nth-child(1){
	margin-top:25px;
}

.info_block h2{
	display: none;
	background: #75ad88ff;
	background-clip: border-box;
	text-align: center;
	margin: 0;
}

.info_block p{
	margin-left: 3vmin;
}

/*----------------GALLERY------------------*/

#zoom{
	z-index:103;
	display:none;
	position: fixed;
	width:100%;
	height:100%;
}

.gallery{
	text-align: center;
}

.gallery .i{
	height: 27vh;
	margin: 0;
	padding: 0;
}

.gallery li{ 
	display: inline-block;
	padding: 0;
	border: solid 1vmin rgba(255, 255, 255, 0.6);
	margin: 10px 10px;		
}

.gallery li:hover{
	border: solid 1vmin rgba(65,65,169,1);
}

.gallery ol{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0px;
	/*margin-top: -30px; 
	margin-bottom:30px: */
}

#photo_container{
	background: rgb(20,20,20);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.zoom_btn{
	position: absolute;
	text-align: center;
	width: 100px;
	height: 100%;
	box-sizing: border-box;
	display: block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/*background: rgba(50,50,50,0.7);*/
}

.zoom_btn:hover{
	background-color: rgba(65,65,169,0.4);
}

#zoom_btn_left{
	width: 100px;
	height: 100%;
	left: 0;
	background-image: url("../img/btn_left.svg"); 
}

#zoom_btn_right{
	width: 100px;
	height: 100%;
	right: 0;
	background-image: url("../img/btn_right.svg");
}

#zoom_btn_out{
	width: 100%;
	height: 15%;
	background-image: url("../img/btn_out.svg");
	bottom: 0;
}

/*GALLERY END*/

@media screen and (max-aspect-ratio: 1/1) {
    }